
body {
    font-family: Arial, sans-serif;
    background-color: wheat;
  }
  
  h1 {
    color: chocolate; 
    text-align: center;
    margin-top: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:800px;
    margin: 20px auto;
  }
  
  .time-block {
    border: 19px solid #660d0d;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 1000px;
    background-color: whitesmoke;
  }
  
  .hour {
    color: chocolate;
    font-size: 18px;
    font-weight: bold;
  }
  
  .event {
    width: 95%;
    height: 100px;
    resize: none;
    margin-top: 5px;
    border: 1px solid chocolate;
    border-radius: 3px;
    padding: 5px;
  }
  
  .saveBtn {
    margin-top: 10px;
    background-color: chocolate;
    color: #ffffff;
    border: 2px double;
    border-radius: 3px;
    border-color: wheat;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .saveBtn:hover {
    background-color: crimson; 
  }
  
  .past {
    background-color: sandybrown;
  }
  
  .present {
    background-color: saddlebrown;
  }
  
  .future {
    background-color: yellow;
  }
  